In [19]:
import pandas as pd

In [20]:
IK = pd.read_excel('data/insan_kaynaklari.xlsx')

In [21]:
IK

,Employee Name,Employee Number,DOB,Sex,MaritalDesc,Hispanic/Latino,RaceDesc,Date of Hire,Pay Rate,Salary,Performance Score
0,"Brown, Mia",1103024456,1985-11-24,Female,Married,No,Black or African American,2008-10-27,28.50,28500,Fully Meets
1,"LaRotonda, William",1106026572,1984-04-26,Male,Divorced,No,Black or African American,2014-01-06,23.00,23000,Fully Meets
2,"Steans, Tyrone",1302053333,1986-09-01,Male,Single,No,White,2014-09-29,29.00,29000,Fully Meets
3,"Howard, Estelle",1211050782,1985-09-16,Female,Married,No,White,2015-02-16,21.50,21500,N/A- too early to review
4,"Singh, Nan",1307059817,1988-05-19,Female,Single,No,White,2015-05-01,16.56,16560,N/A- too early to review
5,"Smith, Leigh Ann",711007713,1987-06-14,Female,Married,No,Asian,2011-09-26,20.50,20500,Fully Meets
6,"LeBlanc, Brandon R",1102024115,1984-06-10,Male,Married,No,White,2016-01-05,55.00,55000,Fully Meets
7,"Quinn, Sean",1206043417,1984-11-06,Male,Married,No,Black or African American,2011-02-21,55.00,55000,Fully Meets
8,"Boutwell, Bonalyn",1307060188,1987-04-04,Female,Married,No,Asian,2015-02-16,34.95,34950,90-day meets
9,"Foster-Baker, Amy",1201031308,1979-04-16,Female,Married,no,White,2009-01-05,34.95,34950,Fully Meets
10,"King, Janet",1001495124,1954-09-21,Female,Married,Yes,White,2012-07-02,80.00,80000,Fully Meets
11,"Zamora, Jennifer",1112030816,1979-08-30,Female,Single,No,White,2010-04-10,65.00,65000,Exceptional
12,"Becker, Renee",1102024056,1986-04-04,Female,Single,Yes,White,2014-07-07,43.00,43000,Fully Meets
13,"Goble, Taisha",905013738,1971-10-23,Female,Single,No,White,2015-02-16,48.50,48500,Fully Meets
14,"Hernandez, Daniff",1410071156,1986-08-07,Male,Married,No,Black or African American,2015-02-16,40.10,40100,N/A- too early to review
15,"Horton, Jayne",1105025718,1984-02-21,Female,Single,No,White,2015-03-30,34.00,34000,N/A- too early to review
16,"Johnson, Noelle",1003018246,1986-11-07,Female,Married,No,Asian,2015-01-05,40.00,40000,90-day meets
17,"Murray, Thomas",1406068403,1988-07-04,Male,Divorced,No,Black or African American,2014-11-10,35.50,35500,Exceptional
18,"Pearson, Randall",1102023965,1984-09-05,Male,Married,No,White,2014-12-01,41.00,41000,Fully Meets
19,"Petrowsky, Thelma",1108027853,1984-09-16,Female,Married,No,Asian,2014-11-10,42.75,42750,Exceptional
20,"Roby, Lori",1407068885,1981-10-11,Female,Married,No,White,2015-02-16,39.55,39550,Fully Meets
21,"Rogers, Ivan",1203032255,1986-08-26,Male,Married,No,White,2015-03-30,42.20,42200,N/A- too early to review
22,"Salter, Jason",1111030148,1987-12-17,Male,Divorced,No,Black or African American,2015-01-05,45.00,45000,90-day meets
23,"Simard, Kramer",808010278,1970-02-08,Male,Married,Yes,White,2015-01-05,30.20,30200,90-day meets
24,"Zhou, Julia",1110029732,1979-02-24,Female,Single,No,White,2015-03-30,31.40,31400,90-day meets
25,"Foss, Jason",1192991000,1980-07-05,Male,Single,No,Black or African American,2011-04-15,65.00,65000,Exceptional
26,"Roup,Simon",1106026933,1973-04-05,Male,Single,No,White,2013-01-20,62.00,62000,Fully Meets
27,"Ruiz, Ricardo",1001175250,1964-01-04,Male,Divorced,No,Two or more races,2012-01-09,21.00,21000,Fully Meets
28,"Monroe, Peter",1011022863,1986-10-05,Male,Married,Yes,Hispanic,2012-02-15,63.00,63000,Needs Improvement
29,"Dougall, Eric",1101023754,1970-07-09,Male,Single,No,White,2014-01-05,64.00,64000,Exceeds
...,...,...,...,...,...,...,...,...,...,...,...
271,"Guilianno, Mike",1001167253,1969-02-09,Male,Single,No,Two or more races,2011-03-07,55.00,55000,Fully Meets
272,"Jeremy, Prater",1001084890,1974-05-09,Male,Married,No,White,2014-05-12,56.00,56000,PIP
273,"Khemmich, Bartholemew",1104025008,1979-11-27,Male,Single,No,White,2013-08-19,55.00,55000,Fully Meets
274,"Leruth, Giovanni",1412071660,1988-12-27,Male,Separated,No,Black or African American,2012-04-30,55.00,55000,Fully Meets
275,"Martins, Joseph",1209048771,1970-06-11,Male,Single,No,Black or African American,2012-05-14,56.00,56000,Fully Meets
276,"McKinzie, Jac",1209049326,1984-07-01,Male,Married,No,Two or more races,2016-07-06,55.00,55000,N/A- too early to review
277,"Mullaney, Howard",1306057978,1975-11-02,Male,Single,No,Two or more races,2014-09-29,55.00,55000,Needs Improvement
278,"Nguyen, Dheepa",1111030684,1989-03-31,Female,Single,No,Two or more races,2013-07-08,55.00,55000,Fully Meets
279,"Onque, Jasmine",1501072180,1990-05-11,Female,Single,Yes,White,2013-09-30,57.00,57000,Fully Meets
280,"Ozark, Travis",812011761,1982-05-19,Male,Single,No,White,2015-01-05,55.00,55000,90-day meets
281,"Potts, Xana",1102024106,1988-08-29,Female,Married,No,Black or African American,2012-01-09,55.00,55000,Fully Meets
282,"Riordan, Michael",1502072711,1968-01-15,Male,Separated,No,White,2006-01-09,55.00,55000,Exceeds
283,"Strong, Caitrin",1411071295,1989-05-12,Female,Married,No,Black or African American,2010-09-27,54.00,54000,Fully Meets
284,"Terry, Sharlene",1401064637,1965-05-07,Female,Single,No,Black or African American,2014-09-29,55.00,55000,Fully Meets
285,"Valentin,Jackie",1312063714,1991-05-23,Female,Married,No,Two or more races,2011-07-05,55.00,55000,Fully Meets
286,"Villanueva, Noah",1111030503,1989-07-11,Male,Single,No,Asian,2012-03-05,56.00,56000,Fully Meets
287,"Houlihan, Debra",1009021646,1966-03-17,Female,Married,No,White,2014-05-05,60.00,60000,Fully Meets
288,"Daneault, Lynn",1402065303,1990-04-19,Female,Single,No,White,2014-05-05,54.00,54000,Fully Meets
289,"Kampew, Donysha",1109029264,1989-11-11,Female,Single,No,White,2011-11-07,60.25,60250,Fully Meets
290,"Smith, John",1499902910,1984-08-16,Male,Divorced,no,Black or African American,2014-05-18,56.00,56000,Needs Improvement
291,"Andreola, Colby",1107027358,1979-05-24,Female,Single,No,White,2014-11-10,47.60,47600,Fully Meets
292,"Carabbio, Judith",1101023577,1987-04-05,Female,Single,No,White,2013-11-11,56.00,56000,90-day meets
293,"Del Bosque, Keyla",1203032498,1979-07-05,Female,Single,No,Black or African American,2012-01-09,57.12,57120,90-day meets
294,"Exantus, Susan",1401064670,1987-05-15,Female,Married,No,Black or African American,2011-05-02,48.50,48500,Needs Improvement
295,"Martin, Sandra",1303054625,1987-11-07,Female,Separated,No,Asian,2013-11-11,55.51,55510,Fully Meets
296,"Patronick, Luke",1112030979,1979-02-20,Male,Single,No,Asian,2011-11-07,52.25,52250,Exceeds
297,"Saada, Adell",1012023185,1986-07-24,Female,Married,No,White,2012-11-05,49.25,49250,Fully Meets
298,"Szabo, Andrew",1201031324,1983-05-06,Male,Single,No,White,2014-07-07,48.00,48000,Exceptional
299,"True, Edward",1102024057,1983-06-14,Male,Single,No,Black or African American,2013-02-18,45.42,45420,Fully Meets
300,"Sweetwater, Alex",1001644719,1966-11-22,Male,Single,No,White,2011-08-15,27.00,27000,Fully Meets

## İsim - Soyisim Ekle

In [33]:
isimler = IK['Employee Name'].values.tolist()

### Alternatif 1

In [23]:
isimler[:6]

['Brown, Mia',
 'LaRotonda, William  ',
 'Steans, Tyrone  ',
 'Howard, Estelle',
 'Singh, Nan ',
 'Smith, Leigh Ann']

In [24]:
aa = 'adson  arantes   do nasimento pele'
aa.split()

['adson', 'arantes', 'do', 'nasimento', 'pele']

In [13]:
adlar = []
soyadlar = []
for isim in isimler:
    if ',' in isim:
        ad    = isim.split(',')[1].strip()
        soyad = isim.split(',')[0].strip()
    else:
        ad    = isim.split()[1]
        soyad = isim.split()[0]
    adlar.append(ad)
    soyadlar.append(soyad)


### Alternatif 2

In [26]:
adlar = []
soyadlar = []
counter = 0
# counter: sorunu görmek için ekledik
for isim in isimler:
    print(counter)
    soyad, ad = isim.split(',')
    adlar.append(ad)
    soyadlar.append(soyad)
    counter +=  1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300

### Alternatif 3

In [34]:
isimler    = [isim.split(',') for isim in isimler]
adlar      = [ad.strip() for soyad, ad in isimler]
soyadlar   = [soyad.strip() for soyad, ad in isimler]

In [35]:
adlar

['Mia',
 'William',
 'Tyrone',
 'Estelle',
 'Nan',
 'Leigh Ann',
 'Brandon  R',
 'Sean',
 'Bonalyn',
 'Amy',
 'Janet',
 'Jennifer',
 'Renee',
 'Taisha',
 'Daniff',
 'Jayne',
 'Noelle',
 'Thomas',
 'Randall',
 'Thelma',
 'Lori',
 'Ivan',
 'Jason',
 'Kramer',
 'Julia',
 'Jason',
 'Simon',
 'Ricardo',
 'Peter',
 'Eric',
 'Rick',
 'Lisa',
 'Leonara',
 'Julia',
 'Alejandro',
 'Anthony',
 'Linda',
 'Maria',
 'Carlos',
 'Tanya',
 'Anita',
 'Neville',
 'Jumil',
 'Karthikeyan',
 'Claudia  N',
 'Donald',
 'Bianca',
 'Ann',
 'Jyoti',
 'Jeremiah',
 'Joe',
 'Sarah',
 'Elisa',
 'Michael',
 'Charles',
 'Webster  L',
 'Amy',
 'Elijiah',
 'Jonathan',
 'Walter',
 'Ketsia',
 'Brannon',
 'Ebonee',
 'Kelley',
 'David',
 'Kissy',
 'Courtney  E',
 'Wilson  K',
 'Trina',
 'Carol',
 'Linda',
 'Sam',
 'Linda',
 'Rachael',
 'Thomas',
 'Francesco  A',
 'Nader',
 'Courtney',
 'Scott',
 'Sean',
 'Lowan  M',
 'Helen',
 'Donna',
 'Josephine',
 'Michael',
 'Beatrice',
 'Lin',
 'Donovan  E',
 'Enola',
 'Caroline',
 'Elijian',
 'James',
 'Spencer',
 'Lisa',
 'Jean',
 "Jene'ya",
 'James',
 'Carl',
 'Geoff',
 'Lily',
 'Denisa  S',
 'Marianne',
 'Jean',
 'Rex',
 'Miguel',
 'April',
 'Susan',
 'Nilson',
 'Violeta',
 'Libby',
 'Raul',
 'Hamish',
 'Barbara',
 'Mildred',
 'Melisa',
 'Alex',
 'Evelyn',
 'Shenice',
 'Cayo',
 'David',
 'Roxana',
 'Paula',
 'Joanne',
 'Ludwick',
 'Christie',
 'Kara',
 'Anthony',
 'Rose',
 'Maryellen',
 'Hannah',
 'Sneha',
 'George',
 'Judy',
 'Kramer',
 'Kathleen',
 'Alexandra',
 'Bradley  J',
 'John',
 'Enrico',
 'Dallas',
 'Jonathan  R',
 'Marilyn',
 'Allison',
 'Lindsay',
 'Samuel',
 'Lauren',
 'Debbie',
 'Shana',
 'Sandy',
 'Elizabeth',
 'Jennifer',
 'Dawn',
 'Colombui',
 'Horia',
 'Richard',
 'Shari',
 'Lei-Ming',
 'Lynn',
 'Adeel',
 'Clinton',
 'Nina',
 'Emil',
 'Shakira',
 'Kayla',
 'Hong',
 'Brad',
 'Morissa',
 'Louis',
 'Janine',
 'Quinn',
 'Thomas',
 'Haley',
 'Alain',
 'Cherly',
 'Elias',
 'Ashley',
 'Bruno',
 'Melinda',
 'Nore',
 'Kamrin',
 'Nori',
 'Seffi',
 'Sade',
 'Taylor',
 'Kristen',
 'Barbara  M',
 'Rick',
 'Timothy',
 'Barbara',
 'Desiree',
 'Sophia',
 'Theresa',
 'Jeanette',
 'Mei',
 'Abdellah',
 'Colleen',
 'Anna',
 'Theresa',
 'Scott',
 'Barry',
 'Jacquelyn',
 'Catherine',
 'Colleen',
 'Sarah',
 'Kimberly',
 'Dianna',
 'Betsy',
 'Joseph',
 'Joelle',
 'Benjamin',
 'Jennifer',
 'Phil',
 'Daniel',
 'Carla',
 'Angela',
 'Megan',
 'Nicole',
 'Michael  J',
 'Tanya',
 'Juan',
 'Susan',
 'Phylicia',
 'Earnest',
 'Trina',
 'Adrienne  J',
 'Julissa',
 'Rosalie',
 'Ming',
 'Tayana',
 'Yen',
 'Lindsey',
 'Mohammed',
 'Mathew',
 'Susan',
 'Lisa',
 'Robyn',
 'Karen',
 'Brigit',
 'Ned',
 'Erasumus',
 'Luisa',
 'Patrick',
 'Maliki',
 'Kristie',
 'Brooke',
 'Ermine',
 'Lauren',
 'Shana',
 'May',
 'Peter',
 'Adil',
 'Constance',
 'Joe',
 'Lenora',
 'Kenneth',
 'Cybil',
 'Roger',
 'Jordan',
 'Hang  T',
 'Jason',
 'Edward',
 'Jessica',
 'Michelle',
 'Latia',
 'Jenna',
 'Alfred',
 'Maruk',
 'Gerry',
 'Whitney',
 'Myriam',
 'Ricardo',
 'Mike',
 'Prater',
 'Bartholemew',
 'Giovanni',
 'Joseph',
 'Jac',
 'Howard',
 'Dheepa',
 'Jasmine',
 'Travis',
 'Xana',
 'Michael',
 'Caitrin',
 'Sharlene',
 'Jackie',
 'Noah',
 'Debra',
 'Lynn',
 'Donysha',
 'John',
 'Colby',
 'Judith',
 'Keyla',
 'Susan',
 'Sandra',
 'Luke',
 'Adell',
 'Andrew',
 'Edward',
 'Alex']

## Yaş hesapla

In [36]:
import datetime
dogumTarihleri = IK['DOB'].values
dogumTarihleri = [pd.Timestamp(dogum).date() for dogum in dogumTarihleri]

In [40]:
type(datetime.datetime.now())

datetime.datetime

In [41]:
def yas_hesapla(dogumTarihi):
    # bugünün tarihi datetime.date objesi olarak
    bugun = datetime.datetime.now()
    # tarihler arası geçen gün sayısının 365'e oranı ipucu: (dn - d0).days
    yas   = (bugun.date() - dogumTarihi).days/365
    return(yas)

In [42]:
# tüm doğum tarihlerine uygula
yas_listesi = []
for dogumTarihi in dogumTarihleri:
    yas = yas_hesapla(dogumTarihi)
    yas_listesi.append(yas)

## Alternatif

In [44]:
yas_listesi = [yas_hesapla(dogumTarihi) for dogumTarihi in dogumTarihleri]

In [45]:
yas_listesi

[32.652054794520545,
 34.23287671232877,
 31.882191780821916,
 32.84109589041096,
 30.167123287671235,
 31.0986301369863,
 34.10958904109589,
 33.701369863013696,
 31.293150684931508,
 39.26575342465753,
 63.84931506849315,
 38.893150684931506,
 32.293150684931504,
 46.75068493150685,
 31.95068493150685,
 34.41095890410959,
 31.698630136986303,
 30.041095890410958,
 33.87123287671233,
 33.84109589041096,
 36.775342465753425,
 31.898630136986302,
 30.589041095890412,
 48.45479452054794,
 39.40547945205479,
 38.04383561643836,
 45.298630136986304,
 54.556164383561644,
 31.78904109589041,
 48.04109589041096,
 32.87123287671233,
 50.04931506849315,
 29.786301369863015,
 45.364383561643834,
 30.53150684931507,
 28.649315068493152,
 30.002739726027396,
 37.26301369863014,
 31.087671232876712,
 39.298630136986304,
 37.26849315068493,
 30.205479452054796,
 49.31506849315068,
 43.21643835616438,
 32.12054794520548,
 53.986301369863014,
 45.156164383561645,
 66.52602739726028,
 32.24109589041096,
 35.443835616438356,
 52.87397260273973,
 40.221917808219175,
 35.33972602739726,
 49.78630136986301,
 48.37260273972603,
 34.94794520547945,
 44.64931506849315,
 37.02739726027397,
 46.06027397260274,
 41.68219178082192,
 36.73424657534247,
 36.945205479452056,
 41.202739726027396,
 42.81095890410959,
 42.5972602739726,
 40.31780821917808,
 62.701369863013696,
 35.03013698630137,
 29.80821917808219,
 28.86027397260274,
 41.16712328767123,
 35.41917808219178,
 48.446575342465756,
 44.52602739726027,
 44.416438356164385,
 35.0027397260274,
 41.01917808219178,
 47.73972602739726,
 39.293150684931504,
 47.586301369863016,
 59.58082191780822,
 28.87945205479452,
 27.9013698630137,
 48.73150684931507,
 35.463013698630135,
 67.56986301369864,
 39.43835616438356,
 34.90684931506849,
 34.8986301369863,
 30.134246575342466,
 37.9013698630137,
 40.868493150684934,
 38.942465753424656,
 41.30958904109589,
 31.276712328767122,
 39.70958904109589,
 40.723287671232875,
 51.26575342465753,
 35.679452054794524,
 39.635616438356166,
 31.783561643835615,
 26.86849315068493,
 44.14520547945205,
 39.90684931506849,
 34.88219178082192,
 29.202739726027396,
 63.28767123287671,
 28.75068493150685,
 32.10958904109589,
 37.347945205479455,
 32.843835616438355,
 38.25753424657534,
 34.632876712328766,
 27.797260273972604,
 48.19178082191781,
 43.95342465753425,
 38.202739726027396,
 26.08219178082192,
 48.81643835616438,
 39.16986301369863,
 43.78630136986301,
 35.16712328767123,
 41.33150684931507,
 35.88219178082192,
 65.94246575342466,
 44.224657534246575,
 34.54246575342466,
 27.471232876712328,
 45.863013698630134,
 52.342465753424655,
 54.28219178082192,
 58.93698630136986,
 32.25753424657534,
 42.50684931506849,
 44.62191780821918,
 47.79178082191781,
 40.6958904109589,
 38.465753424657535,
 31.610958904109587,
 39.50958904109589,
 36.75616438356165,
 37.320547945205476,
 42.75068493150685,
 45.43561643835616,
 45.701369863013696,
 32.035616438356165,
 43.706849315068496,
 40.66301369863014,
 31.53150684931507,
 50.15068493150685,
 41.83013698630137,
 34.035616438356165,
 29.213698630136985,
 35.31506849315068,
 41.28767123287671,
 51.14246575342466,
 34.035616438356165,
 37.8054794520548,
 41.61095890410959,
 38.657534246575345,
 39.224657534246575,
 30.339726027397262,
 32.0,
 44.83013698630137,
 30.36986301369863,
 36.657534246575345,
 33.76164383561644,
 57.1013698630137,
 47.83561643835616,
 33.55068493150685,
 35.9972602739726,
 45.52602739726027,
 44.53972602739726,
 33.53150684931507,
 33.47397260273973,
 43.63013698630137,
 31.339726027397262,
 50.131506849315066,
 43.586301369863016,
 30.024657534246575,
 43.36986301369863,
 32.9041095890411,
 53.47397260273973,
 50.010958904109586,
 45.326027397260276,
 35.9041095890411,
 33.35068493150685,
 35.78630136986301,
 49.93972602739726,
 43.3041095890411,
 53.21095890410959,
 34.97534246575343,
 51.136986301369866,
 35.18082191780822,
 31.465753424657535,
 32.12876712328767,
 33.28767123287671,
 37.967123287671235,
 31.156164383561645,
 52.87397260273973,
 48.80821917808219,
 36.21369863013699,
 39.92876712328767,
 29.83013698630137,
 52.271232876712325,
 27.824657534246576,
 51.52054794520548,
 34.98082191780822,
 38.38630136986301,
 40.92328767123288,
 36.88767123287671,
 39.654794520547945,
 38.85205479452055,
 67.42191780821918,
 28.898630136986302,
 39.83013698630137,
 30.81095890410959,
 36.8027397260274,
 34.6986301369863,
 53.78356164383562,
 32.153424657534245,
 34.61643835616438,
 29.93972602739726,
 45.9041095890411,
 34.42465753424658,
 34.35890410958904,
 26.197260273972603,
 41.83013698630137,
 31.7013698630137,
 48.87397260273973,
 38.99178082191781,
 34.1972602739726,
 39.342465753424655,
 41.56986301369863,
 36.31506849315068,
 41.90684931506849,
 31.60821917808219,
 31.164383561643834,
 33.057534246575344,
 25.91780821917808,
 48.24931506849315,
 41.632876712328766,
 43.64109589041096,
 32.654794520547945,
 66.46027397260274,
 29.002739726027396,
 31.923287671232877,
 39.367123287671234,
 36.87397260273973,
 46.054794520547944,
 32.23287671232877,
 30.649315068493152,
 54.73698630136986,
 65.17808219178082,
 42.84931506849315,
 33.347945205479455,
 42.446575342465756,
 59.71780821917808,
 33.24931506849315,
 33.19178082191781,
 43.04383561643836,
 54.14794520547945,
 55.1972602739726,
 29.693150684931506,
 31.183561643835617,
 29.843835616438355,
 54.90958904109589,
 49.41095890410959,
 47.038356164383565,
 28.82191780821918,
 63.79178082191781,
 49.45205479452055,
 44.205479452054796,
 38.64931506849315,
 29.55890410958904,
 48.11780821917808,
 34.05205479452055,
 42.72054794520548,
 29.301369863013697,
 28.18904109589041,
 36.172602739726024,
 29.887671232876713,
 50.52328767123288,
 29.186301369863013,
 53.21643835616438,
 27.156164383561645,
 29.02191780821918,
 52.35616438356164,
 28.24931506849315,
 28.684931506849313,
 33.92602739726028,
 39.16164383561644,
 31.29041095890411,
 39.04657534246575,
 31.18082191780822,
 30.698630136986303,
 39.416438356164385,
 31.98904109589041,
 35.20821917808219,
 35.1013698630137,
 51.67123287671233]

### Kaç yıllık çalışan

In [46]:
import datetime
baslangiclar = IK['Date of Hire']
baslangiclar = [pd.Timestamp(baslangic).date() for baslangic in baslangiclar]

In [47]:
# kaç yıldır çalışıyorlar
baslangicListesi = [yas_hesapla(baslangic) for baslangic in baslangiclar]

In [50]:
aa = ['adnan','cumali', 'mümtaz']
aa.index('cumali')

1

In [52]:
# en uzun çalışan
ind = baslangicListesi.index(max(baslangicListesi))
adlar[ind],soyadlar[ind]

('Michael', 'Riordan')

In [56]:
[(isimler[ind], baslangic) for ind,baslangic in 
 enumerate(baslangicListesi) if baslangic == max(baslangicListesi)]

[(['Riordan', ' Michael'], 12.512328767123288)]

In [59]:
# çalışma sürelerini sırala
sirketYaslari = [(baslangic, isimler[ind]) for ind,baslangic in enumerate(baslangicListesi)]

In [61]:
sirketYaslari.sort(reverse=True)

In [62]:
sirketYaslari

[(12.512328767123288, ['Riordan', ' Michael']),
 (11.054794520547945, ['Thibaud', ' Kenneth']),
 (10.69041095890411, ['Pitt', ' Brad ']),
 (10.517808219178082, ['Alagbe', 'Trina']),
 (9.863013698630137, ['Ybarra', ' Catherine ']),
 (9.712328767123287, ['Brown', ' Mia']),
 (9.520547945205479, ['Sadki', ' Nore  ']),
 (9.520547945205479, ['Foster-Baker', ' Amy']),
 (9.520547945205479, ['Bramante', ' Elisa']),
 (9.512328767123288, ['Sullivan', ' Kissy ']),
 (9.213698630136987, ['Tavares', ' Desiree  ']),
 (9.021917808219179, ['Bachiochi', ' Linda']),
 (8.715068493150685, ['Sloan', ' Constance']),
 (8.26027397260274, ['Zamora', ' Jennifer']),
 (8.216438356164383, ['Peterson', ' Kayla ']),
 (8.216438356164383, ['Gonzalez', ' Juan']),
 (8.202739726027398, ['Galia', ' Lisa']),
 (7.983561643835617, ['Stanley', ' David ']),
 (7.8712328767123285, ['Sahoo', ' Adil']),
 (7.8712328767123285, ['Close', ' Phil']),
 (7.794520547945205, ['Strong', ' Caitrin']),
 (7.717808219178083, ['Peterson', ' Ebonee  ']),
 (7.506849315068493, ['Whittier', ' Scott']),
 (7.506849315068493, ['Trzeciak', ' Cybil']),
 (7.506849315068493, ['Tinto', ' Theresa  ']),
 (7.506849315068493, ['Stanford', 'Barbara  M']),
 (7.506849315068493, ['Robinson', ' Cherly']),
 (7.506849315068493, ['Robinson', ' Alain  ']),
 (7.506849315068493, ['Pelech', ' Emil']),
 (7.506849315068493, ['Kretschmer', ' John']),
 (7.506849315068493, ['Jung', ' Judy  ']),
 (7.506849315068493, ['Hogland', ' Jonathan ']),
 (7.506849315068493, ['Hendrickson', ' Trina']),
 (7.506849315068493, ['Costa', ' Latia']),
 (7.506849315068493, ['Bondwell', ' Betsy']),
 (7.506849315068493, ['Baczenski', ' Rachael  ']),
 (7.476712328767123, ['Lindsay', ' Leonara ']),
 (7.4301369863013695, ['Panjwani', ' Nina']),
 (7.391780821917808, ['Quinn', ' Sean']),
 (7.391780821917808, ['LeBel', ' Jonathan  R']),
 (7.391780821917808, ['Immediato', ' Walter']),
 (7.391780821917808, ['Huynh', ' Ming']),
 (7.391780821917808, ['Gross', ' Paula']),
 (7.353424657534247, ['Guilianno', ' Mike']),
 (7.353424657534247, ['Friedman', ' Gerry']),
 (7.276712328767124, ['Rossetti', ' Bruno']),
 (7.276712328767124, ['Foreman', ' Tanya']),
 (7.276712328767124, ['Eaton', ' Marianne']),
 (7.276712328767124, ['Demita', ' Carla']),
 (7.276712328767124, ['Burkett', ' Benjamin ']),
 (7.276712328767124, ['Blount', ' Dianna']),
 (7.276712328767124, ['Beatrice', ' Courtney ']),
 (7.2465753424657535, ['Foss', ' Jason']),
 (7.2, ['Exantus', ' Susan']),
 (7.161643835616438, ['Wilber', ' Barry']),
 (7.161643835616438, ['Tejeda', ' Lenora ']),
 (7.161643835616438, ['Rhoads', ' Thomas']),
 (7.161643835616438, ['Power', ' Morissa']),
 (7.161643835616438, ['Peters', ' Lauren']),
 (7.161643835616438, ['Perry', ' Shakira']),
 (7.161643835616438, ['Gaul', ' Barbara']),
 (7.161643835616438, ['Fitzpatrick', ' Michael  J']),
 (7.161643835616438, ['DeGweck', '  James']),
 (7.161643835616438, ['Cloninger', ' Jennifer']),
 (7.120547945205479, ['Maurice', ' Shana']),
 (7.093150684931507, ['Soto', ' Julia ']),
 (7.046575342465753, ['Chivukula', ' Enola']),
 (7.024657534246575, ['Valentin', 'Jackie']),
 (7.024657534246575, ['Theamstern', ' Sophia']),
 (7.024657534246575, ['Robertson', ' Peter']),
 (7.024657534246575, ['Pham', ' Hong']),
 (7.024657534246575, ['Pelletier', ' Ermine']),
 (7.024657534246575, ['Mancuso', ' Karen']),
 (7.024657534246575, ['Linares', ' Marilyn ']),
 (7.024657534246575, ['Jeannite', ' Tayana']),
 (7.024657534246575, ['Akinkuolie', ' Sarah']),
 (7.024657534246575, ['Adinolfi', ' Wilson  K']),
 (7.008219178082192, ['Gonzalez', ' Cayo']),
 (7.008219178082192, ['Cole', ' Spencer']),
 (7.008219178082192, ['Anderson', ' Carol ']),
 (6.950684931506849, ['Albert', ' Michael  ']),
 (6.912328767123288, ['Sweetwater', ' Alex']),
 (6.912328767123288, ['Miller', ' Ned']),
 (6.912328767123288, ['Homberger', ' Adrienne  J']),
 (6.912328767123288, ['Bunbury', ' Jessica']),
 (6.852054794520548, ['Fraval', ' Maruk ']),
 (6.7972602739726025, ['Wallace', ' Courtney  E']),
 (6.7972602739726025, ['Volk', ' Colleen']),
 (6.7972602739726025, ['Smith', ' Leigh Ann']),
 (6.7972602739726025, ['Roberson', ' May']),
 (6.7972602739726025, ['Rarrick', ' Quinn']),
 (6.7972602739726025, ['Ndzi', ' Colombui']),
 (6.7972602739726025, ['Leach', ' Dallas']),
 (6.7972602739726025, ['Kirill', ' Alexandra  ']),
 (6.7972602739726025, ['Kinsella', ' Kathleen  ']),
 (6.778082191780822, ['Cierpiszewski', ' Caroline  ']),
 (6.682191780821918, ['Patronick', ' Luke']),
 (6.682191780821918, ['Monkfish', ' Erasumus  ']),
 (6.682191780821918, ['Lynch', ' Lindsay']),
 (6.682191780821918, ['Kampew', ' Donysha    ']),
 (6.682191780821918, ['Johnson', ' George']),
 (6.682191780821918, ['Gerke', ' Melisa']),
 (6.682191780821918, ['Ferguson', ' Susan']),
 (6.682191780821918, ['Davis', ' Daniel']),
 (6.624657534246575, ['Rivera', ' Haley  ']),
 (6.624657534246575, ['Handschiegl', ' Joanne']),
 (6.50958904109589, ['Williams', ' Jacquelyn  ']),
 (6.50958904109589, ['Ruiz', ' Ricardo']),
 (6.50958904109589, ['Potts', ' Xana']),
 (6.50958904109589, ['Moran', ' Patrick']),
 (6.50958904109589, ['Harrington', ' Christie ']),
 (6.50958904109589, ['Fidelia', '  Libby']),
 (6.50958904109589, ['Del Bosque', ' Keyla']),
 (6.50958904109589, ['Anderson', ' Linda  ']),
 (6.4082191780821915, ['Monroe', ' Peter']),
 (6.394520547945206, ['Sparks', ' Taylor  ']),
 (6.394520547945206, ['Ferreira', ' Violeta']),
 (6.394520547945206, ['Dietrich', ' Jenna  ']),
 (6.394520547945206, ['Barone', ' Francesco  A']),
 (6.3561643835616435, ['Villanueva', ' Noah']),
 (6.3561643835616435, ['Burke', ' Joelle']),
 (6.279452054794521, ['Petingill', ' Shana  ']),
 (6.279452054794521, ['Meads', ' Elizabeth']),
 (6.279452054794521, ['Latif', ' Mohammed']),
 (6.279452054794521, ['Gilles', ' Alex']),
 (6.279452054794521, ['Estremera', ' Miguel']),
 (6.279452054794521, ['Dobrin', ' Denisa  S']),
 (6.279452054794521, ['Brill', ' Donna']),
 (6.279452054794521, ['Bernstein', ' Sean']),
 (6.279452054794521, ['Barbara', ' Thomas']),
 (6.2027397260273975, ['Leruth', ' Giovanni']),
 (6.164383561643835, ['Sutwell', ' Barbara']),
 (6.164383561643835, ['Oliver', ' Brooke ']),
 (6.164383561643835, ['Martins', ' Joseph']),
 (6.164383561643835, ['Harrell', ' Ludwick']),
 (6.03013698630137, ['King', ' Janet']),
 (6.03013698630137, ['Gordon', ' David']),
 (6.03013698630137, ['Darson', " Jene'ya "]),
 (6.010958904109589, ['Langton', ' Enrico']),
 (5.9150684931506845, ['Wallace', ' Theresa']),
 (5.9150684931506845, ['Veera', ' Abdellah ']),
 (5.9150684931506845, ['Heitzman', ' Anthony']),
 (5.906849315068493, ['Miller', ' Brannon']),
 (5.852054794520548, ['Clayton', ' Rick']),
 (5.8, ['Purinton', ' Janine']),
 (5.8, ['MacLennan', ' Samuel']),
 (5.8, ['Barton', ' Nader']),
 (5.778082191780822, ['Spirea', ' Kelley']),
 (5.684931506849315, ['Saada', ' Adell']),
 (5.684931506849315, ['Jackson', ' Maryellen']),
 (5.512328767123288, ['Winthrop', ' Jordan  ']),
 (5.512328767123288, ['Mckenna', ' Sandy']),
 (5.512328767123288, ['Langford', ' Lindsey']),
 (5.512328767123288, ['DiNocco', ' Lily ']),
 (5.476712328767123, ['Roup', 'Simon']),
 (5.397260273972603, ['True', ' Edward']),
 (5.397260273972603, ['Tippett', ' Jeanette']),
 (5.282191780821917, ['Ngodup', ' Shari ']),
 (5.282191780821917, ['Ndzi', ' Horia']),
 (5.282191780821917, ['Motlagh', '  Dawn']),
 (5.167123287671233, ['Squatrito', ' Kristen']),
 (5.167123287671233, ['Moumanil', ' Maliki ']),
 (5.167123287671233, ['Monterro', ' Luisa']),
 (5.013698630136986, ['Robinson', ' Elias']),
 (5.013698630136986, ['Nguyen', ' Lei-Ming']),
 (5.013698630136986, ['Nguyen', ' Dheepa']),
 (5.013698630136986, ['Lundy', ' Susan']),
 (5.013698630136986, ['Linden', ' Mathew']),
 (5.013698630136986, ['Garneau', ' Hamish']),
 (5.013698630136986, ['Cockel', ' James']),
 (5.013698630136986, ['Chang', ' Donovan  E']),
 (5.013698630136986, ['Becker', ' Scott']),
 (4.898630136986301, ['Shields', ' Seffi']),
 (4.898630136986301, ['Lunquist', ' Lisa']),
 (4.898630136986301, ['Khemmich', ' Bartholemew']),
 (4.898630136986301, ['Ivey', ' Rose ']),
 (4.898630136986301, ['Goyal', ' Roxana']),
 (4.898630136986301, ['Biden', ' Lowan  M']),
 (4.7835616438356166, ['Sewkumar', ' Nori']),
 (4.7835616438356166, ['Osturnka', ' Adeel']),
 (4.7835616438356166, ['Onque', ' Jasmine']),
 (4.7835616438356166, ['Liebig', ' Ketsia']),
 (4.7835616438356166, ['Keatts', ' Kramer ']),
 (4.7835616438356166, ['Jacobi', ' Hannah  ']),
 (4.7835616438356166, ['Gosciminski', ' Phylicia  ']),
 (4.7835616438356166, ['Bozzi', ' Charles']),
 (4.7835616438356166, ['Athwal', ' Sam']),
 (4.668493150684932, ['Smith', ' Sade']),
 (4.668493150684932, ['Martin', ' Sandra']),
 (4.668493150684932, ['Mangal', ' Debbie']),
 (4.668493150684932, ['Hankard', ' Earnest']),
 (4.668493150684932, ['Gold', ' Shenice  ']),
 (4.668493150684932, ['Carabbio', ' Judith']),
 (4.668493150684932, ['Bugali', ' Josephine ']),
 (4.517808219178082, ['Dougall', ' Eric']),
 (4.515068493150685, ['Rose', ' Ashley  ']),
 (4.515068493150685, ['Punjabhi', ' Louis  ']),
 (4.515068493150685, ['Mahoney', ' Lauren  ']),
 (4.515068493150685, ['LaRotonda', ' William  ']),
 (4.515068493150685, ['Jhaveri', ' Sneha  ']),
 (4.4, ['Trang', ' Mei']),
 (4.4, ['Stoica', ' Rick']),
 (4.4, ['Owad', ' Clinton']),
 (4.4, ['Knapp', ' Bradley  J']),
 (4.4, ['Favis', ' Donald  ']),
 (4.4, ['Fancett', ' Nicole']),
 (4.4, ['Evensen', ' April']),
 (4.284931506849315, ["O'hare", ' Lynn']),
 (4.284931506849315, ['England', ' Rex']),
 (4.284931506849315, ['Carey', ' Michael  ']),
 (4.189041095890411, ['Houlihan', ' Debra']),
 (4.189041095890411, ['Daneault', ' Lynn']),
 (4.16986301369863, ['Newman', ' Richard ']),
 (4.16986301369863, ['Jeremy', ' Prater']),
 (4.16986301369863, ['Harrison', ' Kara']),
 (4.16986301369863, ['Good', ' Susan']),
 (4.16986301369863, ['Gonzales', ' Ricardo']),
 (4.16986301369863, ['Dickinson', ' Geoff ']),
 (4.16986301369863, ['Chan', ' Lin']),
 (4.153424657534247, ['Smith', ' John']),
 (4.016438356164383, ['Woodson', ' Jason']),
 (4.016438356164383, ['Szabo', ' Andrew']),
 (4.016438356164383, ['Johnston', ' Yen']),
 (4.016438356164383, ['Gill', ' Whitney  ']),
 (4.016438356164383, ['Faller', ' Megan ']),
 (4.016438356164383, ['Erilus', ' Angela']),
 (4.016438356164383, ['Desimone', ' Carl ']),
 (4.016438356164383, ['Billis', ' Helen']),
 (4.016438356164383, ['Becker', ' Renee']),
 (3.9013698630136986, ['Walker', ' Roger']),
 (3.9013698630136986, ['Digitale', ' Alfred']),
 (3.9013698630136986, ['Carter', ' Michelle ']),
 (3.8164383561643835, ['Dunn', ' Amy  ']),
 (3.786301369863014, ['Zima', ' Colleen']),
 (3.786301369863014, ['Wolk', ' Hang  T']),
 (3.786301369863014, ['Terry', ' Sharlene ']),
 (3.786301369863014, ['Steans', ' Tyrone  ']),
 (3.786301369863014, ['Smith', ' Joe']),
 (3.786301369863014, ['Sander', ' Kamrin']),
 (3.786301369863014, ['Mullaney', ' Howard']),
 (3.786301369863014, ['Girifalco', ' Evelyn']),
 (3.786301369863014, ['Chace', ' Beatrice ']),
 (3.786301369863014, ['Buck', ' Edward']),
 (3.786301369863014, ['Buccheri', ' Joseph  ']),
 (3.7835616438356166, ['Shepard', ' Anita ']),
 (3.671232876712329, ['South', ' Joe']),
 (3.671232876712329, ['Petrowsky', ' Thelma']),
 (3.671232876712329, ['Nowlan', ' Kristie']),
 (3.671232876712329, ['Murray', ' Thomas']),
 (3.671232876712329, ['Lajiri', '  Jyoti']),
 (3.671232876712329, ['Engdahl', ' Jean']),
 (3.671232876712329, ['Daniele', ' Ann  ']),
 (3.671232876712329, ['Andreola', ' Colby']),
 (3.6136986301369864, ['Pearson', ' Randall']),
 (3.5178082191780824, ['Tredinnick', ' Neville ']),
 (3.5178082191780824, ['Sullivan', ' Timothy']),
 (3.5178082191780824, ['Simard', ' Kramer']),
 (3.5178082191780824, ['Salter', ' Jason']),
 (3.5178082191780824, ['Roehrich', ' Bianca']),
 (3.5178082191780824, ['Ozark', ' Travis']),
 (3.5178082191780824, ['Johnson', ' Noelle ']),
 (3.5178082191780824, ['Gonzalez', ' Maria']),
 (3.5178082191780824, ['Dolan', ' Linda']),
 (3.5178082191780824, ['Cornett', ' Lisa ']),
 (3.5178082191780824, ['Bacong', ' Alejandro ']),
 (3.4027397260273973, ['Roby', ' Lori ']),
 (3.4027397260273973, ['Morway', ' Tanya']),
 (3.4027397260273973, ['Lydon', ' Allison']),
 (3.4027397260273973, ['Howard', ' Estelle']),
 (3.4027397260273973, ['Hernandez', ' Daniff']),
 (3.4027397260273973, ['Goble', ' Taisha']),
 (3.4027397260273973, ['Givens', ' Myriam']),
 (3.4027397260273973, ['Boutwell', ' Bonalyn']),
 (3.287671232876712, ['Zhou', ' Julia']),
 (3.287671232876712, ['Warfield', ' Sarah']),
 (3.287671232876712, ['Turpin', ' Jumil']),
 (3.287671232876712, ['Rogers', ' Ivan']),
 (3.287671232876712, ['Merlos', ' Carlos']),
 (3.287671232876712, ['Medeiros', ' Jennifer']),
 (3.287671232876712, ['McCarthy', ' Brigit']),
 (3.287671232876712, ['Horton', ' Jayne']),
 (3.287671232876712, ['Gentry', ' Mildred']),
 (3.287671232876712, ['Garcia', ' Raul']),
 (3.287671232876712, ['Cisco', ' Anthony']),
 (3.287671232876712, ['Ait Sidi', ' Karthikeyan   ']),
 (3.2, ['Singh', ' Nan ']),
 (3.1726027397260275, ['Fernandes', ' Nilson  ']),
 (3.1123287671232878, ['Gray', ' Elijiah  ']),
 (3.1041095890410957, ['Hutter', ' Rosalie']),
 (3.021917808219178, ['Von Massenbach', ' Anna']),
 (2.5178082191780824, ['LeBlanc', ' Brandon  R']),
 (2.4547945205479453, ['Butler', ' Webster  L']),
 (2.16986301369863, ['Manchester', ' Robyn']),
 (2.0986301369863014, ['Hunts', ' Julissa']),
 (2.032876712328767, ['Semizoglou', ' Jeremiah  ']),
 (2.032876712328767, ['Carr', ' Claudia  N']),
 (2.021917808219178, ['Saar-Beckles', ' Melinda']),
 (2.0164383561643837, ['McKinzie', ' Jac']),
 (2.0164383561643837, ['Crimmings', '   Jean']),
 (2.0164383561643837, ['Clukey', ' Elijian']),
 (1.9753424657534246, ['Beak', ' Kimberly  '])]

### Demografik değerler

In [63]:
# kadın ve erkek sayısı
# evli, bekar, boşanmış sayısı
# etnik kimlik sayısı
cinsiyet = IK['Sex'].values.tolist()
evlilik  = IK['MaritalDesc'].values.tolist()
etnik    = IK['RaceDesc'].values.tolist()

In [66]:
set(cinsiyet)

{'Female', 'Male', 'male'}

In [67]:
set(evlilik)

{'Divorced', 'Married', 'Separated', 'Single', 'widowed'}

In [68]:
set(etnik)

{'American Indian or Alaska Native',
 'Asian',
 'Black or African American',
 'Hispanic',
 'Two or more races',
 'White'}

In [72]:
# kadin ve erkek sayıları
erkekSayisi = 0
kadinSayisi = 0
for cins in cinsiyet:
    if cins.lower() == 'male':
        erkekSayisi += 1
    else:
        kadinSayisi += 1

In [74]:
erkekSayisi/kadinSayisi

0.7298850574712644

In [ ]:
# evlilik durumu sayıları
evlilikSayac = dict()
for durum in evlilik:
    if durum in evlilikSayac.keys():
        ...
    else:
        ...

In [ ]:
# etnik kimlik dağılımı
from collections import defaultdict
for kimlik in etkik:
    ...

In [83]:
kadinOrani = ...
print('Şirketimizin kadın çalışan oranı: %s' % kadinOrani)
print('Şirketimizde bekar çalışan sayısı: %s' % evlilikSayac['Single'])
for kimlik in etnik:
    print('Şirketimizde %s kimlik grubundan çalışan sayısı: %s' % (...,...))

175

## Pandas.apply()

In [94]:
bugun = datetime.datetime.today().date()
IK['Age'] = IK['DOB'].apply(lambda x: (bugun - pd.Timestamp(x).date()).days/365)

In [96]:
IK['YearWorked'] = IK['Date of Hire'].apply(lambda x: (bugun - pd.Timestamp(x).date()).days/365)

In [106]:
sum(IK['Sex'].apply(lambda x: x.lower()) == 'female')

174

## Pandas.groupby()

In [132]:
IK.groupby(['Sex','MaritalDesc']).size().reset_index(name='counts')

       Sex MaritalDesc  counts
0   Female    Divorced      16
1   Female     Married      71
2   Female   Separated      11
3   Female      Single      70
4   Female     widowed       6
5     Male    Divorced      14
6     Male     Married      48
7     Male   Separated       3
8     Male      Single      56
9     Male     widowed       5
10    male      Single       1

In [136]:
IK.groupby(['Sex','MaritalDesc']).agg(['mean','count'])['Age']

                         mean  count
Sex    MaritalDesc
Female Divorced     41.029452     16
       Married      39.511789     71
       Separated    42.610461     11
       Single       38.746027     70
       widowed      40.196804      6
Male   Divorced     38.149902     14
       Married      39.283733     48
       Separated    41.238356      3
       Single       39.637182     56
       widowed      38.578630      5
male   Single       59.715068      1